@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,400&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #e1e0e0;
  list-style: none;
}

section {
  max-width: 450px;
  margin: 15% auto;
  padding-top: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

h2 {
  margin: 0px 15px;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
  display: flex;
}

h2::after {
  content: url("loop2.svg");
  display: inline;
  width: 20px;
  height: 20px;
  margin-left: auto;
  cursor: pointer;
}

form {
  padding: 0 20px;
  height: 38px;
  width: 100%;
  border: none;
}

.todo {
  padding:  0 10px;
  width: 90%;
  height: 100%;
  border: none;
  font-size: 16px;
  font-style: italic;
}

.todo-list {
  padding: 0;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
  width:100%;
}

li>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin-left: 20px;
}

img {
  width: 10px;
  height: 15px;
}

.btn {
  width: 100%;
  height: 48px;
  border: none;
  outline: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: grey;
}
